@layout("../../system/layout.html", {title: "定时任务日志; InnoDB free: 27648 kB"}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">任务id<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="任务id" v-model="quartzJobLog.jobId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">spring bean名称<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="spring bean名称" v-model="quartzJobLog.beanName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">方法名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="方法名" v-model="quartzJobLog.methodName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">参数<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="参数" v-model="quartzJobLog.params" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">任务状态 0：失败 1：成功<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="任务状态 0：失败 1：成功" v-model="quartzJobLog.status" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">失败信息<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="失败信息" v-model="quartzJobLog.error" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">耗时(单位：毫秒)<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="耗时(单位：毫秒)" v-model="quartzJobLog.times" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">创建时间<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="创建时间" v-model="quartzJobLog.gmtCreate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/base/quartz/job/log/add.js"></script>
@}