@layout("../../system/layout.html", {title: "饼状图"}){
<div class="panel panel-default" style="padding-bottom: 10px;margin-top:10px;">
    <div class="panel-heading">饼状图</div>
    <div>
        <h3>&nbsp;&nbsp;&nbsp;基础示例</h3>
        <div class="row">
            <div id="container" style="min-width:700px;height:400px"></div>
        </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/js/highchar/jquery.min.js"></script>
<script src="${ctxPath}/static/js/highchar/char5.js"></script>
<script src="${ctxPath}/static/js/highchar/highcharts.js"></script>
<script src="${ctxPath}/static/js/highchar/exporting.js"></script>
@}