@layout("../../system/layout.html", {title: "InnoDB free: 23552 kB"}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">文件名称<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="文件名称" v-model="sysFile.fileName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">文件位置<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="文件位置" v-model="sysFile.fileAdd" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">上传者编号<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="上传者编号" v-model="sysFile.fileUpId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">上传说明<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="上传说明" v-model="sysFile.remark" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">上传时间<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="上传时间" v-model="sysFile.upTime" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">文件类型 1:word<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="文件类型 1:word" v-model="sysFile.fileType" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">新文件名称<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="新文件名称" v-model="sysFile.fileNewName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/base/file/add.js"></script>
@}